@model ejemplo.Models.PrestamoViewModel
<h2>Listar</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Titulo Libro</th>
            <th>Autor/es</th>
            <th>Usuario</th>
            <th>Tipo y Nro Documento</th>
            <th>Fecha Prestamo</th>
            <th>Fecha Devolucion</th>
            <th>Devuelto</th>
            <th>Acciones</th>
        </tr>
        @foreach (var p in Model.lista)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => p.libro.titulo)</td>
                <td>@Html.DisplayFor(modelItem => p.libro.autor)</td>
                <td>@Html.DisplayFor(modelItem => p.usuario.nombreApellido)</td>
                <td>@Html.DisplayFor(modelItem => p.usuario.tipoNumeroDocumento)</td>
                <td>@Html.DisplayFor(modelItem => p.fechaPrestamo)</td>
                <td>@Html.DisplayFor(modelItem => p.fechaDevolucion)</td>
                <td>
                    @if (p.devuelto)
                    {
                        @:SI
                    }
                    else
                    {
                        @:NO 
                    }
                    </td>
                <td>
                    @Html.ActionLink("Devolver", "Devolver", "Prestamo", new { PrestamoId = p.PrestamoId }, null)
                    @Html.ActionLink("Modificar", "Modificar", "Prestamo", new { PrestamoId = p.PrestamoId }, null)
                </td>
            </tr>
        }

    </table>
</div>