@model ejemplo.Models.PrestamoViewModel
<br />
<h2>Listado de préstamos</h2>
@if (Model != null && Model.lista.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>Libro</th>
                <th>Usuario</th>
                <th>Tipo y Nro Documento</th>
                <th>Fecha Prestamo</th>
                <th>Fecha Tope de Devolución</th>
                <th>Fecha Real de Devolución</th>
                <th>Devuelto</th>
                <th>Acciones</th>
            </tr>
            @foreach (var p in Model.lista)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => p.libro.tituloAutor)</td>
                    <td>@Html.DisplayFor(modelItem => p.usuario.nombreApellido)</td>
                    <td>@Html.DisplayFor(modelItem => p.usuario.tipoNumeroDocumento)</td>
                    <td>@Html.DisplayFor(modelItem => p.fechaPrestamoString)</td>
                    <td>@Html.DisplayFor(modelItem => p.fechaDevolucionTopeString)</td>
                    <td>
                        @if(p.devuelto)
                        {
                            @Html.DisplayFor(modelItem => p.fechaDevolucionRealString)
                        } else
                        {
                            @: -
                        }
                    </td>
                    <td>
                        @if (p.devuelto)
                        {
                            @:SI
                        }
                        else
                        {
                            @:NO
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Devolver", "Devolver", "Prestamo", new { PrestamoId = p.PrestamoId }, null)
                        @Html.ActionLink("Modificar", "Modificar", "Prestamo", new { PrestamoId = p.PrestamoId }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        Aún no hay préstamos cargados
    </div>
}