@model ejemplo.Models.UsuarioViewModel
@{
    ViewBag.Title = "Buscar Usuario por DNI";
}

<br />
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <form class="formBuscadorPorDoc" method="post" action="">
                <div class="form-group">
                    <label for="nombre">DNI</label>
                    <input type="text" class="form-control validacion-numerica" id="nroDoc" name="numeroDocumento" placeholder="12345678">
                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary btnBuscadorPorDoc">Buscar</button></div>
            </form>
            @if (Model != null)
            {
                if (Model.lista != null && Model.lista.Count() > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>E-mail</th>
                                <th>TIpo Documento</th>
                                <th>Numero Documento</th>
                                <th>Acciones</th>
                            </tr>
                            @foreach (var usuario in Model.lista)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => usuario.UsuarioId)</td>
                                    <td>@Html.DisplayFor(modelItem => usuario.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => usuario.apellido)</td>
                                    <td>@Html.DisplayFor(modelItem => usuario.email)</td>
                                    <td>@Html.DisplayFor(modelItem => usuario.tipoDocumento)</td>
                                    <td>@Html.DisplayFor(modelItem => usuario.numeroDocumento)</td>
                                    <td>
                                        @Html.ActionLink("Modificar", "Modificar", "Usuario", new { UsuarioId = usuario.UsuarioId }, null)
                                        @if (!usuario.tienePrestamos)
                                        {
                                            @Html.ActionLink("Eliminar", "Eliminar", "Usuario", new { UsuarioId = usuario.UsuarioId }, null)
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>

                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        No se encontraron resultados
                    </div>
                }
            }
        </div>
    </div>
</div>