@model ejemplo.Models.UsuarioViewModel
<br />
<h2>Listado de usuarios</h2>
@if (Model != null && Model.lista.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>TIpo Documento</th>
                <th>Numero Documento</th>
                <th>E-mail</th>
                <th>Acciones</th>
            </tr>
            @foreach (var usuario in Model.lista)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => usuario.UsuarioId)</td>
                    <td>@Html.DisplayFor(modelItem => usuario.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => usuario.apellido)</td>
                    <td>@Html.DisplayFor(modelItem => usuario.tipoDocumento)</td>
                    <td>@Html.DisplayFor(modelItem => usuario.numeroDocumento)</td>
                    <td>@Html.DisplayFor(modelItem => usuario.email)</td>
                    <td>
                        @Html.ActionLink("Modificar", "Modificar", "Usuario", new { UsuarioId = usuario.UsuarioId }, null)
                        @Html.ActionLink("Eliminar", "Eliminar", "Usuario", new { UsuarioId = usuario.UsuarioId }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        Aún no hay usuarios cargados
    </div>
}