@model ejemplo.Models.LibroViewModel
@{
    ViewBag.Title = "Buscar Titulo";
}

<br />
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <form class="formBuscadorPorTitulo" method="post" action="">
                <div class="form-group">
                    <label for="nombre">Titulo</label>
                    @Html.TextBoxFor(m => m.titulo, new { @class = "form-control validacion-texto", placeholder = "El gato Negro" })

                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary btnBuscadorPorTitulo">Buscar</button></div>
            </form>
            @if (Model != null)
            {
                if (Model.lista.Count() > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Titulo</th>
                                <th>Autor/es</th>
                                <th>Generos</th>
                                <th>Isbn</th>
                                <th>Cantidad de Ejemplares</th>
                                <th>Acciones</th>
                            </tr>
                            @foreach (var libro in Model.lista)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => libro.LibroId)</td>
                                    <td>@Html.DisplayFor(modelItem => libro.titulo)</td>
                                    <td>@Html.DisplayFor(modelItem => libro.autor)</td>
                                    <td>@Html.DisplayFor(modelItem => libro.genero)</td>
                                    <td>@Html.DisplayFor(modelItem => libro.isbn)</td>
                                    <td>@Html.DisplayFor(modelItem => libro.cantEjemplares)</td>
                                    <td>
                                        @Html.ActionLink("Modificar", "Modificar", "Libro", new { LibroId = libro.LibroId }, null)
                                        @Html.ActionLink("Eliminar", "Eliminar", "Libro", new { LibroId = libro.LibroId }, null)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        No se encontraron resultados
                    </div>
                }
            }
        </div>
    </div>
</div>
